<div id="<%= dom_id @records %>">
  <% average = Average.create! user_id: current_user.id %>
  <% results = [] %>
  <% records.each {|record| results.push record.result} %>
  <% average.results = results.tally %>
  <% average.save! %>
  <%= average.results %>
</div>
